.btn-send{
    transition: 0.4s;
}
.btn-send:hover{
    background-color: #915EFF;
}
a{
    transition: 0.2s;
}
a:hover{
    border-bottom: 4px solid #915EFF;
    color: #915EFF;
}
.company-name{
    transition: 0.2s;
}
.company-name:hover{
    border-bottom: 4px solid #915EFF;
    color: #915EFF;
}
h2{
    transition: 0.2s;
}
h2:hover{
    color: #915EFF;
    border-bottom: 4px solid #915EFF;
}